<div *ngIf="data">
    <ng-container *ngIf="data.id === '1'">
        <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
        
            <link rel="stylesheet" href="pensamiento1.component.css">
            <link rel="stylesheet" href="pensamiento1.component.css">
        </head>
        
        <body>
            <header>
                <div class="container d-flex justify-between items-center m-auto">
                    <a href="post.html">
                        <img src="./../../assets/Imagen de WhatsApp 2024-04-17 a las 09.56.55_faeae05b.jpg" alt="Logo" width="1300">
                    </a>
                   
                </div>
            </header>
                   
          
          <style>
            #miAudio {
              display: none;
            }
          </style>
            <section class="container d-flex gap-16 m-auto lg-column">
                <section class="main-content">
                    <img src="./../../assets/2pi-unrolled.gif" alt="secondary image" style="float: left; margin: 10px; width: 1300px; height: 200px;">
                    <h1 style="font-style: italic; color: rgb(17, 13, 15);">Números racionales</h1>
                    <h2><span style="color: rgb(245, 44, 161);">Competencia: Interpreta y usa los números racionales (fracciones, decimales y
                        porcentajes) en diferentes contextos y situaciones de la vida diaria.</span></h2>
                    <img src="./../../assets/Cosmo.jpeg" alt="main image" width="150" height="150" style="float: left; margin: 16px;">
        
                    <p style="text-align: justify;color: rgb(10, 10, 10)">¡Hola! <strong>Soy Cosmo</strong>, tu guía 
                        interactiva para el mundo de las fracciones.
                        <img src="./../../assets/Pizza2.jpg" alt="main image" width="400" height="180" style="float: right; margin: 16px;">
                        <p style="text-align: justify; color: rgb(10, 10, 10)">Imagina que tenemos una deliciosa pizza. Si la dividimos en 8 partes iguales y tomamos 3 de esas partes, 
                            <strong>¿qué porción de la pizza nos queda?</strong>. ¡Eso es una fracción! Se escribe como 5/8, donde:</p>
                        <ul style="text-align: justify;color: rgb(10, 10, 10)">
                            <li>El numerador (5) nos dice cuántas partes de la pizza tenemos: 3 rebanadas</li>
                            <li>El denominador (8) nos dice en cuántas partes totales se dividió la pizza: 8 rebanadas en total.</li>
                        </ul> 
                    <p style="text-align: justify;color: rgb(10, 10, 10)"> En otras plabaras, la fracción 5/8 representa 5 de las 8 partes iguales de la pizza. 
                            Las fracciones nos sirven para representar partes de un todo. Ahora, visualicemos el siguiente video, en el que tendremos una mejor 
                            comprensión de que es una fracción y para qué nos sirve:</p>
                         
                            <video src="./../../assets/FRACCIONES para niños_ Conceptos básicos.mp4" type="video/mp4" controls></video>
        
                            <p style="text-align: justify; color: rgb(8, 8, 8);">
                                Ahora, luego de comprender qué es una fracción y para qué sirve, 
                                ¡vamos a practicar! De los siguientes juegos y simuladores interactivos, selecciona el que más te guste y disfruta de la experiencia.
                            </p>
                            
                            <ul class="d-flex column gap-3 lg-row">
                                <li class="card">
                                    <iframe src="https://www.geogebra.org/m/HWEGBuXF" style="width: 100%; width:300; height: 600px; border: none;"></iframe>
                                    <p style="text-align: justify; color: rgb(0, 0, 0); margin: 20px;">
                                        Este es un simulador interactivo que te ayudará, desde la práctica, a interiorizar mejor la importancia de las fracciones.
                                    </p>
                                </li>
                            </ul>
                            <div >
        
        </div>
        
                    <h2><span style="color: rgb(245, 44, 161);">¡Es hora de un reto!</span></h2>
                    <div class="pregunta">
                        <p >1. Sofía tiene una pizza que divide en 8 partes iguales. Come 3 partes y guarda el resto. ¿Qué fracción de la pizza comió Sofía?</p>
                        <div class="respuestas">
                            <label>
                                <input type="radio" name="respuesta" value="A">
                                A) 1/5
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="B">
                                B) 3/8
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="C">
                                C) 5/8
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="D">
                                D) 8/3
                            </label>
                        </div>
                    </div>
                    <div class="pregunta">
                        <p >2. Un grupo de 24 estudiantes está formado por 12 niñas y 12 niños. ¿Qué fracción del grupo son las niñas?</p>
                        <div class="respuestas">
                            <label>
                                <input type="radio" name="respuesta" value="A">
                                A) 1/2
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="B">
                                B) 1/4
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="C">
                                C) 1/3
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="D">
                                D) 2/3
                            </label>
                        </div>
                    </div>
                    <div class="pregunta">
                        <p >3.  Una torta se corta en 6 rebanadas iguales. Carlos come 2 rebanadas, María come 1 rebanada y guardan el resto. ¿Qué fracción de la torta comieron juntos?</p>
                        <div class="respuestas">
                            <label>
                                <input type="radio" name="respuesta" value="A">
                                A) 1/3
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="B">
                                B) 2/3
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="C">
                                C) 1/2
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="D">
                                D) 3/6
                            </label>
                        </div>
                    </div>
                    <div class="pregunta">
                        <p >4.  Un panadero quiere preparar una receta que requiere 2 tazas de harina. Si solo tiene ¾ de taza de harina, ¿qué fracción adicional de harina necesita para completar la receta?</p>
                        <div class="respuestas">
                            <label>
                                <input type="radio" name="respuesta" value="A">
                                A) 1/4
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="B">
                                B) 1/2
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="C">
                                C) 3/4
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="D">
                                D) 1
                            </label>
                        </div>
                    </div>  
                          
                </section>
                
            </section>
        
            <footer>
                <div class="container d-flex justify-center m-auto">
                    <span>&copy; todos los derechos reservados</span>
                </div>
            </footer>
        </body>
        
        </html>
    </ng-container>

    <ng-container *ngIf="data.id === '2'">
        <html lang="en">

        <body>
            <header>
                <div class="container d-flex justify-between items-center m-auto">
                    <a href="post.html">
                        <img src="./../../assets/Pensamiento espacial.jpg" alt="Logo" width="1300">
                    </a>
                   
                </div>
            </header>
                   
          
          <style>
            #miAudio {
              display: none;
            }
          </style>
            <section class="container d-flex gap-16 m-auto lg-column">
                <section class="main-content">
                    <img src="./../../assets/Geometría33.gif" alt="secondary image" style="float: left; margin: 10px; width: 1300px; height: 200px;">
                    <h1 style="font-style: italic; color: rgb(17, 13, 15);">Geometría plana: figuras geométricas y sus propiedades            </h1>
                    <h2><span style="color: rgb(245, 44, 161);">Competencia: Reconoce, describe y clasifica figuras geométricas planas
                        (triángulos, cuadriláteros, círculos) y sus propiedades (ángulos, lados, simetría) en
                        diferentes contextos.</span></h2>
                    <img src="./../../assets/Cosmo.jpeg" alt="main image" width="280" height="280" style="float: left; margin: 16px;">
        
                    <p style="text-align: justify;color: rgb(10, 10, 10)">¡Hola! <strong>Soy Cosmo</strong>, continúa esta aventura interactiva de 
                        aprendizaje desde la geometría. Comencemos explorando el fascinante mundo de los polígonos y las figuras planas. 
                        <img src="./../../assets/CasadeMuñecas.jpg" alt="main image" width="700" height="540" style="float: right; margin: 16px;">
                        <p style="text-align: justify; color: rgb(10, 10, 10)">Imagina que estás construyendo una casa de muñecas utilizando piezas de cartón recortadas en formas simples. Aquí está lo que necesitas hacer:</p>
                        <ul style="text-align: justify;color: rgb(10, 10, 10)">
                            <li>  Base de la casa: Utiliza un cuadrado como base de la casa de muñecas.</li>
                            <li>Paredes: Recorta cuatro rectángulos para representar las paredes de la casa.</li>
                            <li>Techo: Recorta un triángulo equilátero para representar el techo de la casa.</li>
                            <li>Puerta y ventanas: Utiliza formas más pequeñas, como rectángulos y cuadrados, para representar la puerta y las ventanas de la casa.</li>
                        </ul> 
                    <p style="text-align: justify;color: rgb(10, 10, 10)"> Todas esas formas que estas utilizando, son polígonos, pero...¿Qué es un polígono? En geometría, un polígono es una figura geométrica plana compuesta 
                        por una secuencia finita de segmentos rectos consecutivos que encierran una región en el plano.​ Estos segmentos son llamados lados, y los puntos en que se intersecan se llaman vértices. 
                        En el siguiente video, tendrás una explicación mas detallada de que se define como polígono:</p>
        
                            <video src="./../../assets/Los Polígonos - Geometría para niños.mp4" type="video/mp4" controls></video>
        
                            <img src="./../../assets/Definición+de+polígono.jpg" alt="main image" width="500" height="280" style="float: right; margin: 16px;">
                            <p style="text-align: justify; color: rgb(8, 8, 8);">
                                Ahora bien, existen una gran cantidad de polígonos regulares (aquellos que tienen todos sus lados iguales) e irregulares (con lados diferentes), Algunos polígonos 
                                son los tríangulos, los cuadriláteros, y aquellos que tienen mas de cuatro lados, conocidos generalmente com oplígonos de n lados. 
                                ¡vamos a practicar! De los siguientes juegos y simuladores interactivos, selecciona el que más te guste y disfruta de la experiencia.</p>
                            <p style="text-align: justify; color: rgb(8, 8, 8);">¡Vamos  practicar un poco sobre polígonos! A continuación, observa lee la información sobre com oidentificar polígonos en mosaicos y 
                                Trata de dibujarlos, según la instrucción de cantidad de puntos que se requieren. Esta actividad, te ayudará a practicar los polígonos con lados iguales y cuál es su nombre.</p>
                            <ul class="d-flex column gap-3 lg-row">
                                <li class="card">
                                    <iframe src="https://www.geogebra.org/m/Se72NsG4" style="width: 100%; height: 500px; width: 800px;border: none;margin: 20px"></iframe>
                                    <p style="text-align: justify; color: rgb(0, 0, 0); margin: 20px;">
                                        Este es un simulador interactivo que te ayudará, desde la práctica, a interiorizar mejor loos tipos de polígonos que existen. 
                                    </p>
                                </li>
                            </ul>
                        <p style="text-align: justify; color: rgb(8, 8, 8);">
                                Ahora bien, dentro de los polígonos, existe un espacio al que llamamos área. En otras palabras, es la superficie que ocupan los polígonos u otras figuras planas. 
                                En el siguiente ejemplo, analizamos el espacio interior que ocupa una cancha de futbol, teniendo en cuenta la base y la altura de esta cancha, o la medida de sus lados: </p>       
                                <img src="./../../assets/Cancha de futbol.jpg" alt="main image" width="600" height="400" style="float: right; margin: 16px;">
                        <p style="text-align: justify; color: rgb(8, 8, 8);">Para hallar el área de un polígo, en especial los cuadrilateros como los rectángulos y los cuadrados, debemos tener en 
                            cuenta las medidas de su base y se su altura, para luego encontrarla a partir del producto de ambas medidas. Ahora bien, En el caso de los triángulos, estos son la mitad 
                            de un cuadrado o rectángulo, dividiéndola desde sus diagonales como se muestra en la siguiente imagen:</p>
                            <img src="./../../assets/Triángulos.jpeg" alt="main image" width="600" height="400" style="float: right; margin: 16px;">
                                
                            <p style="text-align: justify; color: rgb(8, 8, 8);"> Como vemos en la imagen, al pasar un segmento de recta por las diagonales de un rectángulo, se forman dos triángulos. 
                                Para hallar el área de un triángulo, también tenemos en cuenta el producto de la base y la altura, pero dividida entre dos. 
                                <img src="./../../assets/áreas de figuras planas (cuadrados y triángulos).jpg" alt="main image" width="600" height="200" style="float: right; margin: 16px;">
                                Ahora bien, ¿Cómo hallamos el área de figuras de más de cuatro lados? Para ello, tenemos las siguientes alternativas:
                                
                                <ul style="text-align: justify;color: rgb(10, 10, 10)">
                                    <li>Podemos dividir el polígono en triángulos, teniendo en cuenta la medida de la base y la altura de cada uno, y luego sumar todas las áreas de los triángulos, 
                                        como se muestra en la siguiente imagen:<img src="./../../assets/poligonosreg2-4.png" alt="Áreas de figuras planas (polígonos)" width="600" height="300" style="float: left; margin: 16px;"> 
                                        Es importante tener en cuenta que, en este caso, las alturas de in triángulo dentro de un polígono, se llaman apotemas. Un apotema, es el segmento perpendicular entre el 
                                        centro de un polígono regular y uno cualquiera de sus lados.</li>                            
                                    <li>Otra opción es hallar el perímetro del polígono <strong>(un perímetro es la suma de todos los lados de un polígono).</strong></li>
                                    <li>Puerta y ventanas: Utiliza formas más pequeñas, como rectángulos y cuadrados, para representar la puerta y las ventanas de la casa.</li>
                                </ul> 
                            
                                Para hallar el área de un polígono, en especial los cuadriláteros como los rectángulos y los cuadrados, debemos tener en cuenta las medidas de su base y su altura, para luego encontrarla a partir del producto de ambas medidas. Ahora bien, en el caso de los triángulos, estos son la mitad 
                                de un cuadrado o rectángulo, dividiéndola desde sus diagonales como se muestra en la siguiente imagen:
                                
                            
                            <h2><span style="color: rgb(245, 44, 161);">¡Es hora de un reto!</span></h2>
                    <div class="pregunta">
                        <p >1. Sofía tiene una pizza que divide en 8 partes iguales. Come 3 partes y guarda el resto. ¿Qué fracción de la pizza comió Sofía?</p>
                        <div class="respuestas">
                            <label>
                                <input type="radio" name="respuesta" value="A">
                                A) 1/5
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="B">
                                B) 3/8
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="C">
                                C) 5/8
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="D">
                                D) 8/3
                            </label>
                        </div>
                    </div>
                    <div class="pregunta">
                        <p >2. Un grupo de 24 estudiantes está formado por 12 niñas y 12 niños. ¿Qué fracción del grupo son las niñas?</p>
                        <div class="respuestas">
                            <label>
                                <input type="radio" name="respuesta" value="A">
                                A) 1/2
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="B">
                                B) 1/4
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="C">
                                C) 1/3
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="D">
                                D) 2/3
                            </label>
                        </div>
                    </div>
                    <div class="pregunta">
                        <p >3.  Una torta se corta en 6 rebanadas iguales. Carlos come 2 rebanadas, María come 1 rebanada y guardan el resto. ¿Qué fracción de la torta comieron juntos?</p>
                        <div class="respuestas">
                            <label>
                                <input type="radio" name="respuesta" value="A">
                                A) 1/3
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="B">
                                B) 2/3
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="C">
                                C) 1/2
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="D">
                                D) 3/6
                            </label>
                        </div>
                    </div>
                    <div class="pregunta">
                        <p >4.  Un panadero quiere preparar una receta que requiere 2 tazas de harina. Si solo tiene ¾ de taza de harina, ¿qué fracción adicional de harina necesita para completar la receta?</p>
                        <div class="respuestas">
                            <label>
                                <input type="radio" name="respuesta" value="A">
                                A) 1/4
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="B">
                                B) 1/2
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="C">
                                C) 3/4
                            </label>
                            <label>
                                <input type="radio" name="respuesta" value="D">
                                D) 1
                            </label>
                        </div>
                    </div>  
                          
                </section>
                
            </section>
        
            <footer>
                <div class="container d-flex justify-center m-auto">
                    <span>&copy; todos los derechos reservados</span>
                </div>
            </footer>
        </body>
        
        </html>
    </ng-container>
  </div>
  