<div *ngIf="data">
    <ng-container *ngIf="data.id === 1">
        <html lang="en">

        <body>
            <header>
                <div class="container d-flex justify-between items-center m-auto">
                    <a href="post.html">
                        <img src="./../../assets/Imagen de WhatsApp 2024-04-17 a las 09.56.55_faeae05b.jpg" alt="Logo"
                            width="1300" />
                    </a>
                </div>
            </header>

            <style>
                #miAudio {
                    display: none;
                }
            </style>
            <section class="container d-flex gap-16 m-auto lg-column">
                <section class="main-content">
                    <img src="./../../assets/2pi-unrolled.gif" alt="secondary image"
                        style="float: left; margin: 10px; width: 1300px; height: 200px" />
                    <h1 style="font-style: italic; color: rgb(17, 13, 15)">
                        Números racionales
                    </h1>
                    <h2>
                        <span style="color: rgb(245, 44, 161)">Competencia: Interpreta y usa los números racionales
                            (fracciones, decimales y porcentajes) en diferentes contextos y
                            situaciones de la vida diaria.</span>
                    </h2>
                    <img src="./../../assets/Cosmo.jpeg" alt="main image" width="150" height="150"
                        style="float: left; margin: 16px" />

                    <p style="text-align: justify; color: rgb(10, 10, 10)">
                        ¡Hola! <strong>Soy Cosmo</strong>, tu guía interactiva para el
                        mundo de las fracciones.
                        <img src="./../../assets/Pizza2.jpg" alt="main image" width="400" height="180"
                            style="float: right; margin: 16px" />
                    </p>

                    <p style="text-align: justify; color: rgb(10, 10, 10)">
                        Imagina que tenemos una deliciosa pizza. Si la dividimos en 8
                        partes iguales y tomamos 3 de esas partes,
                        <strong>¿qué porción de la pizza nos queda?</strong>. ¡Eso es una
                        fracción! Se escribe como 5/8, donde:
                    </p>
                    <ul style="text-align: justify; color: rgb(10, 10, 10)">
                        <li>
                            El numerador (5) nos dice cuántas partes de la pizza tenemos: 3
                            rebanadas
                        </li>
                        <li>
                            El denominador (8) nos dice en cuántas partes totales se dividió
                            la pizza: 8 rebanadas en total.
                        </li>
                    </ul>
                    <p style="text-align: justify; color: rgb(10, 10, 10)">
                        En otras plabaras, la fracción 5/8 representa 5 de las 8 partes
                        iguales de la pizza. Las fracciones nos sirven para representar
                        partes de un todo. Ahora, visualicemos el siguiente video, en el
                        que tendremos una mejor comprensión de que es una fracción y para
                        qué nos sirve:
                    </p>

                    <video src="./../../assets/FRACCIONES para niños_ Conceptos básicos.mp4" type="video/mp4"
                        controls></video>

                    <p style="text-align: justify; color: rgb(8, 8, 8)">
                        Ahora, luego de comprender qué es una fracción y para qué sirve,
                        ¡vamos a practicar! De los siguientes juegos y simuladores
                        interactivos, selecciona el que más te guste y disfruta de la
                        experiencia.
                    </p>

                    <ul class="d-flex column gap-3 lg-row">
                        <li class="card">
                            <iframe src="https://www.geogebra.org/m/HWEGBuXF"
                                style="width: 100%; width: 300; height: 600px; border: none"></iframe>
                            <p style="text-align: justify; color: rgb(0, 0, 0); margin: 20px">
                                Este es un simulador interactivo que te ayudará, desde la
                                práctica, a interiorizar mejor la importancia de las
                                fracciones.
                            </p>
                        </li>
                    </ul>
                </section>
            </section>

            <h1><span style="color: rgb(245, 44, 161);">¡Es hora de un reto!</span></h1>
            <ng-container *ngFor="let pregunta of data.preguntas">
                <app-pregunta [data]="pregunta"></app-pregunta>
            </ng-container>

            <footer>
                <div class="container d-flex justify-center m-auto">
                    <span>&copy; todos los derechos reservados</span>
                </div>
            </footer>
        </body>

        </html>
    </ng-container>

    <ng-container *ngIf="data.id === 2">
        <html lang="en">

        <body>
            <header>
                <div class="container d-flex justify-between items-center m-auto">
                    <a href="post.html">
                        <img src="./../../assets/Pensamiento espacial.jpg" alt="Logo" width="1300" />
                    </a>
                </div>
            </header>

            <style>
                #miAudio {
                    display: none;
                }
            </style>
            <section class="container d-flex gap-16 m-auto lg-column">
                <section class="main-content">
                    <img src="./../../assets/Geometría33.gif" alt="secondary image"
                        style="float: left; margin: 10px; width: 1300px; height: 200px" />
                    <h1 style="font-style: italic; color: rgb(17, 13, 15)">
                        Geometría plana: figuras geométricas y sus propiedades
                    </h1>
                    <h2>
                        <span style="color: rgb(245, 44, 161)">Competencia: Reconoce, describe y clasifica figuras
                            geométricas
                            planas (triángulos, cuadriláteros, círculos) y sus propiedades
                            (ángulos, lados, simetría) en diferentes contextos.</span>
                    </h2>
                    <img src="./../../assets/Cosmo.jpeg" alt="main image" width="280" height="280"
                        style="float: left; margin: 16px" />

                    <p style="text-align: justify; color: rgb(10, 10, 10)">
                        ¡Hola! <strong>Soy Cosmo</strong>, continúa esta aventura
                        interactiva de aprendizaje desde la geometría. Comencemos
                        explorando el fascinante mundo de los polígonos y las figuras
                        planas.
                        <img src="./../../assets/CasadeMuñecas.jpg" alt="main image" width="700" height="540"
                            style="float: right; margin: 16px" />
                    </p>

                    <p style="text-align: justify; color: rgb(10, 10, 10)">
                        Imagina que estás construyendo una casa de muñecas utilizando
                        piezas de cartón recortadas en formas simples. Aquí está lo que
                        necesitas hacer:
                    </p>
                    <ul style="text-align: justify; color: rgb(10, 10, 10)">
                        <li>
                            Base de la casa: Utiliza un cuadrado como base de la casa de
                            muñecas.
                        </li>
                        <li>
                            Paredes: Recorta cuatro rectángulos para representar las paredes
                            de la casa.
                        </li>
                        <li>
                            Techo: Recorta un triángulo equilátero para representar el techo
                            de la casa.
                        </li>
                        <li>
                            Puerta y ventanas: Utiliza formas más pequeñas, como rectángulos
                            y cuadrados, para representar la puerta y las ventanas de la
                            casa.
                        </li>
                    </ul>
                    <p style="text-align: justify; color: rgb(10, 10, 10)">
                        Todas esas formas que estas utilizando, son polígonos, pero...¿Qué
                        es un polígono? En geometría, un polígono es una figura geométrica
                        plana compuesta por una secuencia finita de segmentos rectos
                        consecutivos que encierran una región en el plano.​ Estos
                        segmentos son llamados lados, y los puntos en que se intersecan se
                        llaman vértices. En el siguiente video, tendrás una explicación
                        mas detallada de que se define como polígono:
                    </p>

                    <video src="./../../assets/Los Polígonos - Geometría para niños.mp4" type="video/mp4"
                        controls></video>

                    <img src="./../../assets/Definición+de+polígono.jpg" alt="main image" width="500" height="280"
                        style="float: right; margin: 16px" />
                    <p style="text-align: justify; color: rgb(8, 8, 8)">
                        Ahora bien, existen una gran cantidad de polígonos regulares
                        (aquellos que tienen todos sus lados iguales) e irregulares (con
                        lados diferentes), Algunos polígonos son los tríangulos, los
                        cuadriláteros, y aquellos que tienen mas de cuatro lados,
                        conocidos generalmente com oplígonos de n lados. ¡vamos a
                        practicar! De los siguientes juegos y simuladores interactivos,
                        selecciona el que más te guste y disfruta de la experiencia.
                    </p>
                    <p style="text-align: justify; color: rgb(8, 8, 8)">
                        ¡Vamos practicar un poco sobre polígonos! A continuación, observa
                        lee la información sobre com oidentificar polígonos en mosaicos y
                        Trata de dibujarlos, según la instrucción de cantidad de puntos
                        que se requieren. Esta actividad, te ayudará a practicar los
                        polígonos con lados iguales y cuál es su nombre.
                    </p>
                    <ul class="d-flex column gap-3 lg-row">
                        <li class="card">
                            <iframe src="https://www.geogebra.org/m/Se72NsG4" style="
                    width: 100%;
                    height: 500px;
                    width: 800px;
                    border: none;
                    margin: 20px;
                  "></iframe>
                            <p style="text-align: justify; color: rgb(0, 0, 0); margin: 20px">
                                Este es un simulador interactivo que te ayudará, desde la
                                práctica, a interiorizar mejor loos tipos de polígonos que
                                existen.
                            </p>
                        </li>
                    </ul>
                    <p style="text-align: justify; color: rgb(8, 8, 8)">
                        Ahora bien, dentro de los polígonos, existe un espacio al que
                        llamamos área. En otras palabras, es la superficie que ocupan los
                        polígonos u otras figuras planas. En el siguiente ejemplo,
                        analizamos el espacio interior que ocupa una cancha de futbol,
                        teniendo en cuenta la base y la altura de esta cancha, o la medida
                        de sus lados:
                    </p>
                    <img src="./../../assets/Cancha de futbol.jpg" alt="main image" width="600" height="400"
                        style="float: right; margin: 16px" />
                    <p style="text-align: justify; color: rgb(8, 8, 8)">
                        Para hallar el área de un polígo, en especial los cuadrilateros
                        como los rectángulos y los cuadrados, debemos tener en cuenta las
                        medidas de su base y se su altura, para luego encontrarla a partir
                        del producto de ambas medidas. Ahora bien, En el caso de los
                        triángulos, estos son la mitad de un cuadrado o rectángulo,
                        dividiéndola desde sus diagonales como se muestra en la siguiente
                        imagen:
                    </p>
                    <img src="./../../assets/Triángulos.jpeg" alt="main image" width="600" height="400"
                        style="float: right; margin: 16px" />

                    <p style="text-align: justify; color: rgb(8, 8, 8)">
                        Como vemos en la imagen, al pasar un segmento de recta por las
                        diagonales de un rectángulo, se forman dos triángulos. Para hallar
                        el área de un triángulo, también tenemos en cuenta el producto de
                        la base y la altura, pero dividida entre dos.
                        <img src="./../../assets/áreas de figuras planas (cuadrados y triángulos).jpg" alt="main image"
                            width="600" height="200" style="float: right; margin: 16px" />
                        Ahora bien, ¿Cómo hallamos el área de figuras de más de cuatro
                        lados? Para ello, tenemos las siguientes alternativas:
                    </p>

                    <ul style="text-align: justify; color: rgb(10, 10, 10)">
                        <li>
                            Podemos dividir el polígono en triángulos, teniendo en cuenta la
                            medida de la base y la altura de cada uno, y luego sumar todas
                            las áreas de los triángulos, como se muestra en la siguiente
                            imagen:<img src="./../../assets/poligonosreg2-4.png"
                                alt="Áreas de figuras planas (polígonos)" width="600" height="300"
                                style="float: left; margin: 16px" />
                            Es importante tener en cuenta que, en este caso, las alturas de
                            in triángulo dentro de un polígono, se llaman apotemas. Un
                            apotema, es el segmento perpendicular entre el centro de un
                            polígono regular y uno cualquiera de sus lados.
                        </li>
                        <li>
                            Otra opción es hallar el perímetro del polígono
                            <strong>(un perímetro es la suma de todos los lados de un
                                polígono).</strong>
                        </li>
                        <li>
                            Puerta y ventanas: Utiliza formas más pequeñas, como rectángulos
                            y cuadrados, para representar la puerta y las ventanas de la
                            casa.
                        </li>
                    </ul>

                    <p style="text-align: justify; color: rgb(8, 8, 8)">
                        > Para hallar el área de un polígono, en especial los
                        cuadriláteros como los rectángulos y los cuadrados, debemos tener
                        en cuenta las medidas de su base y su altura, para luego
                        encontrarla a partir del producto de ambas medidas. Ahora bien, en
                        el caso de los triángulos, estos son la mitad de un cuadrado o
                        rectángulo, dividiéndola desde sus diagonales como se muestra en
                        la siguiente imagen:
                    </p>
                    <img src="./../../assets/área.jpg" alt="main image" width="300" height="250"
                        style="float: right; margin: 16px" />
                </section>
            </section>

            <h2><span style="color: rgb(245, 44, 161);">¡Es hora de un reto!</span></h2>
            <ng-container *ngFor="let pregunta of data.preguntas">
                <app-pregunta [data]="pregunta"></app-pregunta>
            </ng-container>

            <footer>
                <div class="container d-flex justify-center m-auto">
                    <span>&copy; todos los derechos reservados</span>
                </div>
            </footer>
        </body>

        </html>
    </ng-container>

    <ng-container *ngIf="data.id === 3">
        <html lang="en">

        <body>
            <header>
                <div class="container d-flex justify-between items-center m-auto">
                    <a href="post.html">
                        <img src="./../../assets/Pensamiento Algebraico.jpg" alt="Logo" width="1300">
                    </a>

                </div>
            </header>


            <style>
                #miAudio {
                    display: none;
                }
            </style>
            <section class="container d-flex gap-16 m-auto lg-column">
                <section class="main-content">
                    <img src="./../../assets/algebra.gif" alt="secondary image"
                        style="float: left; margin: 10px; width: 1300px; height: 200px;">
                    <h1 style="font-style: italic; color: rgb(17, 13, 15);"> Expresiones algebraicas y ecuaciones</h1>
                    <h2><span style="color: rgb(245, 44, 161);">Competencia: Usa expresiones algebraicas y ecuaciones
                            para modelar y resolver
                            problemas de diferentes contextos.</span></h2>
                    <img src="./../../assets/Cosmo.jpeg" alt="main image" width="280" height="280"
                        style="float: left; margin: 16px;">

                    <p style="text-align: justify;color: rgb(10, 10, 10)">¡Hola! <strong>Soy Cosmo</strong>, continúa
                        esta aventura interactiva de
                        aprendizaje desde el álgebra. Comencemos explorando el fascinante mundo de la regla de tres.

                    <p style="text-align: justify; color: rgb(10, 10, 10)">¿Alguna vez le has cambiado el tamaño a una
                        fotografía y te has visto diferente?</p>
                    <img src="./../../assets/img_original.webp" alt="main image" width="930" height="300"
                        style="float: left; margin: 16px;">
                    <p style="text-align: justify; color: rgb(10, 10, 10)">Más alto, con la cara más alargada, o menos…
                    </p>
                    <img src="./../../assets/img_deformada.webp" alt="main image" width="930" height="260"
                        style="float: left; margin: 16px;">


                    <p style="text-align: justify;color: rgb(10, 10, 10)"><b>¡Hay que estar atentos a la proporción!
                        </b>Cuando hacemos una fotografía, esta tiene una base y una altura determinada.
                        Por ejemplo: en este caso nuestra fotografía original tiene una base de 6 cm y una altura de 4
                        cm.
                        Si queremos cambiarle el tamaño pero que mantenga el mismo aspecto, debemos asegurarnos de que
                        la razón entre la base y la altura de la fotografía se mantenga.
                        Pero… <b>¿Qué es la razón? ¿Cómo podemos saber cuál es la razón entre la base y la altura de
                            esta fotografía?</b></p>
                    <ul style="text-align: justify;color: rgb(10, 10, 10)">
                        <li>La razón es una comparación entre dos magnitudes que se realiza mediante un cociente.</li>
                        <li>Suele expresarse como una fracción o colocando dos puntos (:) entre las dos magnitudes.</li>
                    </ul>
                    <img src="./../../assets/razón.webp" alt="main image" width="130" height="300"
                        style="float: right; margin: 16px;">
                    <p style="text-align: justify;color: rgb(10, 10, 10)">En este caso, la razón entre la base y la
                        altura de la fotografía es de 6 : 4. Si dividimos 6 entre 4, obtenemos
                        como resultado: 1,5. Esto quiere decir que la base de la fotografía es 1,5 veces más larga que
                        su altura. O dicho de otro modo, significa que por cada cm de alto
                        mide 1,5 cm de ancho. Ahora que ya sabemos cuál es la razón entre la base y la altura de esta
                        fotografía…
                        ¿Cómo podemos calcular cuáles pueden ser sus nuevas medidas sin que se deforme?
                        Podemos hacerlo de dos maneras:</p>
                    <ul style="text-align: justify;color: rgb(10, 10, 10)">
                        <li>1. <b>Encontrando una razón equivalente:</b>
                            Multiplicando o dividiendo ambas magnitudes por el mismo número. Por ejemplo, podemos
                            multiplicar la base y la altura por 2.
                            <b>6 x 2 = 12 y 4 x 2 = 8</b>. De esta manera la nueva base sería 12 y la nueva altura 8.
                        </li>
                        <img src="./../../assets/img_prop_1.webp" alt="main image" width="400" height="160"
                            style="float: right; margin: 16px;">
                        <li>2. <b>Encontrando la constante de proporcionalidad:</b>La constante de proporcionalidad es
                            el resultado del cociente de las razones de una proporción.
                            En nuestro ejemplo sería el resultado de dividir 6 entre 4 .
                            <b>6 : 4 = 1,5</b>. Sabiendo esto, si queremos que la altura de nuestra fotografía sea 6,
                            solo tenemos que multiplicar 6 por 1,5 para descubrir cuánto debe medir la base.
                            <b>6 x 1,5 = 9</b>
                        </li>
                        <img src="./../../assets/img_prop_2.webp" alt="main image" width="400" height="160"
                            style="float: left; margin: 16px;">
                    </ul>
                    <p>De cualquiera de las dos maneras hemos conseguido aumentar el tamaño de la fotografía sin
                        modificar su relación de aspecto.
                        <b>¡Esto ocurre porque hemos conservado la proporción!</b> Una proporción es una igualdad de
                        razones. Ahora ya sabemos lo que hacen
                        automáticamente algunos programas de nuestro ordenador cuando hacemos click en la opción de
                        “Mantener o bloquear relación de aspecto”.
                        ¿Te ha sido útil este post sobre razón y proporción?El siguiente video, nos ayudará a entender
                        mejor que es una razón y una proporción:
                    </p>

                    <video src="./../../assets/Matemática Divertida_  Conoce que es Proporción.mp4" type="video/mp4"
                        controls></video>

                    <p style="text-align: justify; color: rgb(8, 8, 8);">
                        Ahora bien, podemos practicar con la siguiente actividad:</p>
                    <iframe src="https://www.geogebra.org/m/KsJnvWvB"
                        style="width: 100%; height: 500px; width: 800px;border: none;margin: 20px"></iframe>
                    <p>Este es un simulador interactivo que te ayudará, desde la práctica, a interiorizar mejor lo
                        aprendido sobre razones y proporciones.</p>

                </section>
            </section>

            <footer>
                <div class="container d-flex justify-center m-auto">
                    <span>&copy; todos los derechos reservados</span>
                </div>
            </footer>
        </body>

        </html>
    </ng-container>

    <ng-container *ngIf="(data.id === 4 || data.id === 5)">
    <div class="basic-container">
        <h1>¡Estamos trabajando en este pensamiento! Vuelve pronto :)</h1>
    </div>
    </ng-container>
</div>