<html lang="en">

<body>
    <header>
        <div class="container d-flex justify-between items-center m-auto">
            <a href="post.html">
                <img src="./../../assets/Pensamiento Algebraico.jpg" alt="Logo" width="1300">
            </a>
           
        </div>
    </header>
           
  
  <style>
    #miAudio {
      display: none;
    }
  </style>
    <section class="container d-flex gap-16 m-auto lg-column">
        <section class="main-content">
            <img src="./../../assets/algebra.gif" alt="secondary image" style="float: left; margin: 10px; width: 1300px; height: 200px;">
            <h1 style="font-style: italic; color: rgb(17, 13, 15);"> Expresiones algebraicas y ecuaciones</h1>
            <h2><span style="color: rgb(245, 44, 161);">Competencia: Usa expresiones algebraicas y ecuaciones para modelar y resolver
                problemas de diferentes contextos.</span></h2>
            <img src="./../../assets/Cosmo.jpeg" alt="main image" width="280" height="280" style="float: left; margin: 16px;">

            <p style="text-align: justify;color: rgb(10, 10, 10)">¡Hola! <strong>Soy Cosmo</strong>, continúa esta aventura interactiva de 
                aprendizaje desde el álgebra. Comencemos explorando el fascinante mundo de la regla de tres. 

            <p style="text-align: justify; color: rgb(10, 10, 10)">¿Alguna vez le has cambiado el tamaño a una fotografía y te has visto diferente?</p>
                <img src="./../../assets/img_original.webp" alt="main image" width="930" height="300" style="float: left; margin: 16px;">
            <p style="text-align: justify; color: rgb(10, 10, 10)">Más alto, con la cara más alargada, o menos…</p> 
            <img src="./../../assets/img_deformada.webp" alt="main image" width="930" height="260" style="float: left; margin: 16px;">
                

            <p style="text-align: justify;color: rgb(10, 10, 10)"><b>¡Hay que estar atentos a la proporción! </b>Cuando hacemos una fotografía, esta tiene una base y una altura determinada.
                Por ejemplo: en este caso nuestra fotografía original tiene una base de 6 cm y una altura de 4 cm.
                Si queremos cambiarle el tamaño pero que mantenga el mismo aspecto, debemos asegurarnos de que la razón entre la base y la altura de la fotografía se mantenga.
                Pero… <b>¿Qué es la razón? ¿Cómo podemos saber cuál es la razón entre la base y la altura de esta fotografía?</b></p>
                <ul style="text-align: justify;color: rgb(10, 10, 10)">
                    <li>La razón es una comparación entre dos magnitudes  que se realiza mediante un cociente.</li>
                    <li>Suele expresarse como una fracción o colocando dos puntos (:) entre las dos magnitudes.</li>
                </ul> 
                <img src="./../../assets/razón.webp" alt="main image" width="130" height="300" style="float: right; margin: 16px;">
                <p style="text-align: justify;color: rgb(10, 10, 10)">En este caso, la razón entre la base y la altura de la fotografía es de 6 : 4. Si dividimos 6 entre 4, obtenemos 
                    como resultado: 1,5. Esto quiere decir que la base de la fotografía es 1,5 veces más larga que su altura.  O dicho de otro modo, significa que por cada cm de alto
                    mide 1,5 cm de ancho. Ahora que ya sabemos cuál es la razón entre la base y la altura de esta fotografía…
                    ¿Cómo podemos calcular cuáles pueden ser sus nuevas medidas sin que se deforme?
                    Podemos hacerlo de dos maneras:</p>
                <ul style="text-align: justify;color: rgb(10, 10, 10)">
                    <li>1. <b>Encontrando una razón equivalente:</b>
                    Multiplicando o dividiendo ambas magnitudes por el mismo número. Por ejemplo, podemos multiplicar la base y la altura por 2.
                    <b>6 x 2 = 12   y    4 x 2 = 8</b>. De esta manera la nueva base sería 12 y la nueva altura 8.</li>
                    <img src="./../../assets/img_prop_1.webp" alt="main image" width="400" height="160" style="float: right; margin: 16px;">
                    <li>2.  <b>Encontrando la constante de proporcionalidad:</b>La constante de proporcionalidad es el resultado del cociente de las razones de una proporción. 
                        En nuestro ejemplo sería el resultado de dividir 6  entre 4 .
                        <b>6 : 4 = 1,5</b>. Sabiendo esto, si queremos que la altura de nuestra fotografía sea 6, solo tenemos que multiplicar 6 por 1,5 para descubrir cuánto debe medir la base.
                        <b>6 x 1,5 = 9</b></li>
                        <img src="./../../assets/img_prop_2.webp" alt="main image" width="400" height="160" style="float: left; margin: 16px;">
                </ul> 
                <p>De cualquiera de las dos maneras hemos conseguido aumentar el tamaño de la fotografía sin modificar su relación de aspecto.
                 <b>¡Esto ocurre porque hemos conservado la proporción!</b> Una proporción es una igualdad de razones. Ahora ya sabemos lo que hacen 
                 automáticamente algunos programas de nuestro ordenador cuando hacemos click en la opción de “Mantener o bloquear relación de aspecto”.
                 ¿Te ha sido útil este post sobre razón y proporción?El siguiente video, nos ayudará a entender mejor que es una razón y una proporción:</p>

                    <video src="./../../assets/Matemática Divertida_  Conoce que es Proporción.mp4" type="video/mp4" controls></video>

                    <p style="text-align: justify; color: rgb(8, 8, 8);">
                        Ahora bien, podemos practicar con la siguiente actividad:</p>
                        <iframe src="https://www.geogebra.org/m/KsJnvWvB" style="width: 100%; height: 500px; width: 800px;border: none;margin: 20px"></iframe>  
                        <p>Este es un simulador interactivo que te ayudará, desde la práctica, a interiorizar mejor lo aprendido sobre razones y proporciones.</p>
                        
                    <h2><span style="color: rgb(245, 44, 161);">¡Es hora de un reto!</span></h2>
            
