<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="pensamiento1.component.css">
    <link rel="stylesheet" href="pensamiento1.component.css">
</head>

<body>
    <header>
        <div class="container d-flex justify-between items-center m-auto">
            <a href="post.html">
                <img src="./../../assets/Imagen de WhatsApp 2024-04-17 a las 09.56.55_faeae05b.jpg" alt="Logo" width="1300">
            </a>
           
        </div>
    </header>
           
  
  <style>
    #miAudio {
      display: none;
    }
  </style>
    <section class="container d-flex gap-16 m-auto lg-column">
        <section class="main-content">
            <img src="./../../assets/2pi-unrolled.gif" alt="secondary image" style="float: left; margin: 10px; width: 1300px; height: 200px;">
            <h1 style="font-style: italic; color: rgb(17, 13, 15);">Números racionales</h1>
            <h2><span style="color: rgb(245, 44, 161);">Competencia: Interpreta y usa los números racionales (fracciones, decimales y
                porcentajes) en diferentes contextos y situaciones de la vida diaria.</span></h2>
            <img src="./../../assets/Cosmo.jpeg" alt="main image" width="150" height="150" style="float: left; margin: 16px;">

            <p style="text-align: justify;color: rgb(10, 10, 10)">¡Hola! <strong>Soy Cosmo</strong>, tu guía 
                interactiva para el mundo de las fracciones.
                <img src="./../../assets/Pizza2.jpg" alt="main image" width="400" height="180" style="float: right; margin: 16px;">
                <p style="text-align: justify; color: rgb(10, 10, 10)">Imagina que tenemos una deliciosa pizza. Si la dividimos en 8 partes iguales y tomamos 3 de esas partes, 
                    <strong>¿qué porción de la pizza nos queda?</strong>. ¡Eso es una fracción! Se escribe como 5/8, donde:</p>
                <ul style="text-align: justify;color: rgb(10, 10, 10)">
                    <li>El numerador (5) nos dice cuántas partes de la pizza tenemos: 3 rebanadas</li>
                    <li>El denominador (8) nos dice en cuántas partes totales se dividió la pizza: 8 rebanadas en total.</li>
                </ul> 
            <p style="text-align: justify;color: rgb(10, 10, 10)"> En otras plabaras, la fracción 5/8 representa 5 de las 8 partes iguales de la pizza. 
                    Las fracciones nos sirven para representar partes de un todo. Ahora, visualicemos el siguiente video, en el que tendremos una mejor 
                    comprensión de que es una fracción y para qué nos sirve:</p>
                 
                    <video src="./../../assets/FRACCIONES para niños_ Conceptos básicos.mp4" type="video/mp4" controls></video>

                    <p style="text-align: justify; color: rgb(8, 8, 8);">
                        Ahora, luego de comprender qué es una fracción y para qué sirve, 
                        ¡vamos a practicar! De los siguientes juegos y simuladores interactivos, selecciona el que más te guste y disfruta de la experiencia.
                    </p>
                    
                    <ul class="d-flex column gap-3 lg-row">
                        <li class="card">
                            <iframe src="https://www.geogebra.org/m/HWEGBuXF" style="width: 100%; width:300; height: 600px; border: none;"></iframe>
                            <p style="text-align: justify; color: rgb(0, 0, 0); margin: 20px;">
                                Este es un simulador interactivo que te ayudará, desde la práctica, a interiorizar mejor la importancia de las fracciones.
                            </p>
                        </li>
                    </ul>
                    <div >

</div>

            <h2><span style="color: rgb(245, 44, 161);">¡Es hora de un reto!</span></h2>
            <div class="pregunta">
                <p >1. Sofía tiene una pizza que divide en 8 partes iguales. Come 3 partes y guarda el resto. ¿Qué fracción de la pizza comió Sofía?</p>
                <div class="respuestas">
                    <label>
                        <input type="radio" name="respuesta" value="A">
                        A) 1/5
                    </label>
                    <label>
                        <input type="radio" name="respuesta" value="B">
                        B) 3/8
                    </label>
                    <label>
                        <input type="radio" name="respuesta" value="C">
                        C) 5/8
                    </label>
                    <label>
                        <input type="radio" name="respuesta" value="D">
                        D) 8/3
                    </label>
                </div>
            </div>
            <div class="pregunta">
                <p >2. Un grupo de 24 estudiantes está formado por 12 niñas y 12 niños. ¿Qué fracción del grupo son las niñas?</p>
                <div class="respuestas">
                    <label>
                        <input type="radio" name="respuesta" value="A">
                        A) 1/2
                    </label>
                    <label>
                        <input type="radio" name="respuesta" value="B">
                        B) 1/4
                    </label>
                    <label>
                        <input type="radio" name="respuesta" value="C">
                        C) 1/3
                    </label>
                    <label>
                        <input type="radio" name="respuesta" value="D">
                        D) 2/3
                    </label>
                </div>
            </div>
            <div class="pregunta">
                <p >3.  Una torta se corta en 6 rebanadas iguales. Carlos come 2 rebanadas, María come 1 rebanada y guardan el resto. ¿Qué fracción de la torta comieron juntos?</p>
                <div class="respuestas">
                    <label>
                        <input type="radio" name="respuesta" value="A">
                        A) 1/3
                    </label>
                    <label>
                        <input type="radio" name="respuesta" value="B">
                        B) 2/3
                    </label>
                    <label>
                        <input type="radio" name="respuesta" value="C">
                        C) 1/2
                    </label>
                    <label>
                        <input type="radio" name="respuesta" value="D">
                        D) 3/6
                    </label>
                </div>
            </div>
            <div class="pregunta">
                <p >4.  Un panadero quiere preparar una receta que requiere 2 tazas de harina. Si solo tiene ¾ de taza de harina, ¿qué fracción adicional de harina necesita para completar la receta?</p>
                <div class="respuestas">
                    <label>
                        <input type="radio" name="respuesta" value="A">
                        A) 1/4
                    </label>
                    <label>
                        <input type="radio" name="respuesta" value="B">
                        B) 1/2
                    </label>
                    <label>
                        <input type="radio" name="respuesta" value="C">
                        C) 3/4
                    </label>
                    <label>
                        <input type="radio" name="respuesta" value="D">
                        D) 1
                    </label>
                </div>
            </div>  
                  
        </section>
        
    </section>

    <footer>
        <div class="container d-flex justify-center m-auto">
            <span>&copy; todos los derechos reservados</span>
        </div>
    </footer>
</body>

</html>