!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="pensamiento1.component.css">
    <link rel="stylesheet" href="pensamiento1.component.css">
</head>

<body>
    <header>
        <div class="container d-flex justify-between items-center m-auto">
            <a href="post.html">
                <img src="./../../assets/Imagen de WhatsApp 2024-04-17 a las 09.56.55_faeae05b.jpg" alt="Logo" width="1300">
            </a>
           
        </div>
    </header>
           
  
  <style>
    #miAudio {
      display: none;
    }
  </style>
    <section class="container d-flex gap-16 m-auto lg-column">
        <section class="main-content">
            <img src="./../../assets/2pi-unrolled.gif" alt="secondary image" style="float: left; margin: 10px; width: 1300px; height: 200px;">
            <h1 style="font-style: italic; color: rgb(17, 13, 15);">Números racionales</h1>
            <h2><span style="color: rgb(245, 44, 161);">Competencia: Interpreta y usa los números racionales (fracciones, decimales y
                porcentajes) en diferentes contextos y situaciones de la vida diaria.</span></h2>
            <img src="./../../assets/Cosmo.jpeg" alt="main image" width="150" height="150" style="float: left; margin: 16px;">

            <p style="text-align: justify;color: rgb(10, 10, 10)">¡Hola! <strong>Soy Cosmo</strong>, tu guía 
                interactiva para el mundo de las fracciones.
                <img src="./../../assets/Pizza2.jpg" alt="main image" width="400" height="180" style="float: right; margin: 16px;">
                <p style="text-align: justify; color: rgb(10, 10, 10)">Imagina que tenemos una deliciosa pizza. Si la dividimos en 8 partes iguales y tomamos 3 de esas partes, 
                    <strong>¿qué porción de la pizza nos queda?</strong>. ¡Eso es una fracción! Se escribe como 5/8, donde:</p>
                <ul style="text-align: justify;color: rgb(10, 10, 10)">
                    <li>El numerador (5) nos dice cuántas partes de la pizza tenemos: 3 rebanadas</li>
                    <li>El denominador (8) nos dice en cuántas partes totales se dividió la pizza: 8 rebanadas en total.</li>
                </ul> 
            <p style="text-align: justify;color: rgb(10, 10, 10)"> En otras plabaras, la fracción 5/8 representa 5 de las 8 partes iguales de la pizza. 
                    Las fracciones nos sirven para representar partes de un todo. Ahora, visualicemos el siguiente video, en el que tendremos una mejor 
                    comprensión de que es una fracción y para qué nos sirve:</p>
                 
                   <video src="./../../assets/FRACCIONES para niños_ Conceptos básicos.mp4" type="video-mp4" controls></video>                
                
            <img src="Imagenes/salgar2.jpg" alt="main image" width="660" style="float: right; margin: 16px;">


            <p style="text-align: justify;color: rgb(255, 250, 250)">A pesar de los cambios, siempre he conservado un cariño especial por Salgar. <strong>Es el lugar 
                donde nací y crecí, donde están mis raíces</strong>. Cada vez que tengo la oportunidad, regreso a mi pueblo 
                querido para reencontrarme con mi familia y amigos, y revivir aquellos recuerdos que marcaron mi infancia. 
                Mi historia es la de muchos colombianos que han tenido que migrar a las ciudades en busca de mejores 
                oportunidades. <strong>Es un viaje que no siempre es fácil, pero que también puede ser una oportunidad para crecer 
                    y descubrir nuevas posibilidades</strong>. En mi caso, la experiencia me ha enseñado la importancia de la adaptación,
                la resiliencia y la capacidad de encontrar la felicidad en cualquier lugar. También me ha permitido valorar
                 mis raíces y el lugar donde nací, un pequeño pueblo lleno de belleza y gente maravillosa.</p>


            <h2><span style="color: red;">Mi trayectoria profesional</span></h2>
            <img src="Imagenes/Diploma.jpg" alt="secondary image" style="float: left; margin: 16px; width: 250px; height: 490px;">
        
            <p style="text-align: justify;color: rgb(255, 250, 250)">Me formé como Licenciado en Matemáticas en la Universidad de Antioquia, una carrera que me apasiona y 
                me permite aprender mientras enseño, en un ciclo continuo de conocimiento y experiencia. Mi camino 
                profesional comenzó en el INEM, donde realicé mis prácticas académicas, y luego tuve la oportunidad 
                de dictar preuniversitarios en un colectivo pedagógico del municipio de Bello. Posteriormente, impartí
                 un preicfes con Instruimos en la comuna 3 de Medellín. Cada experiencia ha sido un aprendizaje 
                 invaluable que me ha permitido crecer como profesional y como persona. Me siento afortunado de poder 
                 dedicar mi vida a algo que me apasiona y que me permite contribuir a la formación de las nuevas generaciones.</p>
            <p style="text-align: justify;color: rgb(255, 250, 250)">Actualmente, tengo el placer de trabajar en el colegio Cosmo Schools, una institución creada por Comfama que
                 se caracteriza por ofrecer experiencias de aprendizaje únicas y maravillosas. En este espacio, los jóvenes que
                  acompaño en su proceso educativo tienen la libertad de explorar y descubrir sus intereses, lo que enriquece su 
                  formación de manera integral. Son jóvenes felices, con una actitud positiva y un gran entusiasmo por aprender a 
                  través del descubrimiento, la experimentación y la aventura. Esta pasión por el conocimiento me motiva a seguir 
                  aprendiendo y creciendo como profesional, para brindarles las herramientas y el acompañamiento que necesitan para
                   alcanzar su máximo potencial.</p>
            
            <h2><span style="color: red;">Mi equipo de trabajo</span></h2>
            <p style="text-align: justify;color: rgb(255, 250, 250)">Actualmente me encuentro trabajando en Cosmo, un colegio con un modelo pedagógico diferente y moderno, un
                lugar de aprender se hace desde la experiencia y desde el descubrimiento experiencial de las cosas. Somos un
                colegio que cree en las pedagogías activas como recurso innovador y moderno. Actualmente hay 10 sedes en todo el área metropolitana
                y algunos municipios cercanos, pero la idea es expandirse más allá de antioquia.
            </p>

                 <img src="Imagenes/387879486_7022881934399346_4790453529391952691_n.jpg">
            
            <h2><span style="color: red;">Familia</span></h2>
            <p style="text-align: justify;color: rgb(255, 250, 250)">Tengo una familia bastante numerosa, sin embargo,
                son pocos los primos y tíos con los que frecuento salir. Generalmente, lo hago con mi prima Dora, Leidy y mi
                primo Carlos. También se nos une nuestra tía, la niña de la familia, Rubiela, ella es una persona maravillosa
                y con muchas cualidades. Generalmente, salimos a comer los fines de semana, o a ver una película. También practicamos
                senderismo en los lugares cercanos a medellín. El resto de mi familia (papá, mamá y hermana) aunque somos un
                poco mas cercanos, no nos vemos con tanta frecuencia, ya que cada uno tiene sus diferentes obligaciones.</p>

                <img src="Imagenes/Familia.jpg">

            <h2><span style="color: red;">Generalidades</span></h2>
            <p style="text-align: justify;color: rgb(255, 250, 250)"> Soy un hombre de gustos simples, amo la naturaleza,
            el anime, el rock, me encanta disfrutar de un buen café y salir a conversar con amigos. Soy una persona que generalmente
            es muy tranquila y organizada. Mde gusta mucho leer. Por último, tengo dos integrantes importantes de mi familia (Luna y Gohan)
            Que son mis hijos adoptivos, mis gatos</p>

                <img src="Imagenes/Gohan y Luna.jpg">
            
    
                  
        </section>
        <aside>
            <div style="display: grid; place-items: center;">
                <h3><span style="color: rgb(3, 3, 3);">Mis cosas favoritas</span></h3>
              </div>              
            <ul class="d-flex column gap-3 lg-row">
                <li class="card">
                    <a href="https://www3.animeflv.net/">
                        <img src="Imagenes/Kimetsu.gif" alt="Post1">
                        <p style="text-align: justify;color: rgb(0, 0, 0)">Amo el anime y el manga japonés, entre mis favoritos
                            se encuentran: Kimetsu no yaiba, Blood c, Hellsing, Soul eater. Desde pequeño veo este tipo de animaciones,
                            y me encanta maratonear viendo un fin de semana. Es algo que me entretiene mucho.</p>
                    </a>
                </li>
                <li class="card" >
                    <a href="https://www.planetadelibros.com.co/autor/fernando-molano-vargas/000036098">
                        <img src="Imagenes/un beso de dick.jpeg" alt="Post2">
                        <p style="text-align: justify;color: rgb(7, 7, 7)"> Mi libro favorito es "Un beso de Dick", es un libro que me encantó del escritor Colombiano Fernando Molano. Ganó
                           un premio en los años 90 en el concurso público de escritura de Medellín, y fue quemado por las personas de la época,
                           ya que su contenido era un poco prohibido para ese momento de la historia. SIn embargo, es unlibro que recomiendo mucho. </p>
                    </a>
                </li>
                <li class="card">
                    <a href="https://udea.edu.co/wps/portal/udea/web/inicio/!ut/p/z1/04_Sj9CPykssy0xPLMnMz0vMAfIjo8zi_QJNXQ2NnA18_D2NXQ0CLf1MA4zdPY1MzI31wwkpiAJKG-AAjgZA_VFgJRaWzkaGjiYGPgbehqYGjoGuAX4h_s4BLl5GUAV4zCjIjTDIdFRUBAC3KPbO/dz/d5/L2dBISEvZ0FBIS9nQSEh/">
                        <img src="Imagenes/Misgrados.jpg" alt="Post3">
                        <p style="text-align: justify;color: rgb(0, 0, 0)">Mi día más feliz, fue el día en el que recibí mi título
                            como Licenciado en Educación Básica con Énfasis en Matemáticas. Fue un día mágico para mí, puesto que fue un sueño logrado
                        con mucho esfuerzo y dedicación, ya que al igual que muchos, tuve que buscar otras alternativas para terminar mi carrera</p>
                    </a>
                </li>
                <li class="card">
                    <a href="https://www.ilforno.co/">
                        <img src="Imagenes/salsa_de_champinones_para_pasta_50596_orig.jpg" alt="Post4">
                        <p>Amo la comida, sobre todo la comida italiana. Mi rstaurante favorito es Il forno, es un restaurante
                        donde disfruto mucho comer pasta, mi pasta favorita son los involtinis a la baldoscana. Es una pasta acompañada con
                        involtini de cerdo, salsa de champiñón y mucho mucho queso.
                        </p>
                    </a>
                </li>
                <li class="card">
                    <a href="https://www.youtube.com/results?search_query=my+chemical+romance+helena">
                        <img src="Imagenes/Música.gif" alt="Post5">
                        <p>En cuanto a la música, tengo gustos muy variados. Escucho prácticamente de todo, epro me inclino mas por el rock,
                            un poco de metal, un poco de heavy, un poco de estilo gótico. Es musica que me trasmite muchas emociones al momento
                            de escucharla. Además, tamnbien amo la música de protesta.
                        </p>
                    </a>
                </li>
            </ul>
        </aside>
    </section>

    <footer>
        <div class="container d-flex justify-center m-auto">
            <span>&copy; todos los derechos reservados</span>
        </div>
    </footer>
</body>

</html>