@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Common */
body {
    background-color: hwb(56 71% 0%);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color:   hwb(56 71% 0%);
    line-height: 1.5;
    /* Agregar imagen de fondo */
    background-image: url('./../../assets/fondo3.webp'); /* Reemplaza 'ruta/de/la/imagen.jpg' con la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita *
}

video {
    display: block; 
    width: 900px; 
    margin: 0 auto; /* Centra el video horizontalmente */

  }  
  .pregunta p,
.respuestas label {
    color: black; /* Cambia el color del texto a negro */
}


.respuestas label {
    display: block;
    margin-bottom: 10px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 42px;
    margin: 32px 0;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    margin: 24px 0;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin: 20px 0;
}

header {
    color: #fff;
    background-color: #c70697;
    box-shadow: 0px 0px 5px #000;
    padding: 1px;
    margin-bottom: 40px;
}

p {
    margin-top: 24px;
    margin-bottom: 24px;
}

.container {
    width: 1200px;
    max-width: 100%;
}

/* Flexbox */
.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.m-auto {
    margin: auto;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.gap-3 {
    gap: 16px
}

.gap-16 {
    gap: 64px
}

.column {
    flex-direction: column;
}

/* Main Menu */
.menu ul {
    display: flex;
    gap: 16px;
}

/*menú de favoritos*/
.menu ul li a {
    display: block; 
    
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
}

/* Footer */
footer {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #fa28aa;
    color: #f3f1f1;
    margin-top: 34px;
}

/* Responsive */
/* lg */
@media (max-width: 1023px) {

    /* common */
    .lg-column {
        flex-direction: column;
    }

    .lg-row {
        flex-direction: row;
    }
    .container {
        padding-left: 16px;
        padding-right: 16px;
        width: auto;
    }

    /* Links */
    aside {
        max-width: 100%;
        justify-content: center;
    }

    aside ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    aside ul li {
        width: 350px;
        max-width: 100%;
    }
}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .quiz-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .quiz-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .quiz-container button {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .quiz-container img {
    width: 300px;
    height: 225px;
    object-fit: contain;
    margin-bottom: 20px;
  }
  
  .quiz-container p {
    font-size: 1.2rem;
    margin-top: 20px;
  }