<html lang="en">

<body>
    <header>
        <div class="container d-flex justify-between items-center m-auto">
            <a href="post.html">
                <img src="./../../assets/Pensamiento espacial.jpg" alt="Logo" width="1300">
            </a>
           
        </div>
    </header>
           
  
  <style>
    #miAudio {
      display: none;
    }
  </style>
    <section class="container d-flex gap-16 m-auto lg-column">
        <section class="main-content">
            <img src="./../../assets/Geometría33.gif" alt="secondary image" style="float: left; margin: 10px; width: 1300px; height: 200px;">
            <h1 style="font-style: italic; color: rgb(17, 13, 15);">Geometría plana: figuras geométricas y sus propiedades            </h1>
            <h2><span style="color: rgb(245, 44, 161);">Competencia: Reconoce, describe y clasifica figuras geométricas planas
                (triángulos, cuadriláteros, círculos) y sus propiedades (ángulos, lados, simetría) en
                diferentes contextos.</span></h2>
            <img src="./../../assets/Cosmo.jpeg" alt="main image" width="280" height="280" style="float: left; margin: 16px;">

            <p style="text-align: justify;color: rgb(10, 10, 10)">¡Hola! <strong>Soy Cosmo</strong>, continúa esta aventura interactiva de 
                aprendizaje desde la geometría. Comencemos explorando el fascinante mundo de los polígonos y las figuras planas. 
                <img src="./../../assets/CasadeMuñecas.jpg" alt="main image" width="700" height="540" style="float: right; margin: 16px;">
                <p style="text-align: justify; color: rgb(10, 10, 10)">Imagina que estás construyendo una casa de muñecas utilizando piezas de cartón recortadas en formas simples. Aquí está lo que necesitas hacer:</p>
                <ul style="text-align: justify;color: rgb(10, 10, 10)">
                    <li>  Base de la casa: Utiliza un cuadrado como base de la casa de muñecas.</li>
                    <li>Paredes: Recorta cuatro rectángulos para representar las paredes de la casa.</li>
                    <li>Techo: Recorta un triángulo equilátero para representar el techo de la casa.</li>
                    <li>Puerta y ventanas: Utiliza formas más pequeñas, como rectángulos y cuadrados, para representar la puerta y las ventanas de la casa.</li>
                </ul> 
            <p style="text-align: justify;color: rgb(10, 10, 10)"> Todas esas formas que estas utilizando, son polígonos, pero...¿Qué es un polígono? En geometría, un polígono es una figura geométrica plana compuesta 
                por una secuencia finita de segmentos rectos consecutivos que encierran una región en el plano.​ Estos segmentos son llamados lados, y los puntos en que se intersecan se llaman vértices. 
                En el siguiente video, tendrás una explicación mas detallada de que se define como polígono:</p>

                    <video src="./../../assets/Los Polígonos - Geometría para niños.mp4" type="video/mp4" controls></video>

                    <img src="./../../assets/Definición+de+polígono.jpg" alt="main image" width="500" height="280" style="float: right; margin: 16px;">
                    <p style="text-align: justify; color: rgb(8, 8, 8);">
                        Ahora bien, existen una gran cantidad de polígonos regulares (aquellos que tienen todos sus lados iguales) e irregulares (con lados diferentes), Algunos polígonos 
                        son los tríangulos, los cuadriláteros, y aquellos que tienen mas de cuatro lados, conocidos generalmente com oplígonos de n lados. 
                        ¡vamos a practicar! De los siguientes juegos y simuladores interactivos, selecciona el que más te guste y disfruta de la experiencia.</p>
                    <p style="text-align: justify; color: rgb(8, 8, 8);">¡Vamos  practicar un poco sobre polígonos! A continuación, observa lee la información sobre com oidentificar polígonos en mosaicos y 
                        Trata de dibujarlos, según la instrucción de cantidad de puntos que se requieren. Esta actividad, te ayudará a practicar los polígonos con lados iguales y cuál es su nombre.</p>
                    <ul class="d-flex column gap-3 lg-row">
                        <li class="card">
                            <iframe src="https://www.geogebra.org/m/Se72NsG4" style="width: 100%; height: 500px; width: 800px;border: none;margin: 20px"></iframe>
                            <p style="text-align: justify; color: rgb(0, 0, 0); margin: 20px;">
                                Este es un simulador interactivo que te ayudará, desde la práctica, a interiorizar mejor loos tipos de polígonos que existen. 
                            </p>
                        </li>
                    </ul>
                <p style="text-align: justify; color: rgb(8, 8, 8);">
                        Ahora bien, dentro de los polígonos, existe un espacio al que llamamos área. En otras palabras, es la superficie que ocupan los polígonos u otras figuras planas. 
                        En el siguiente ejemplo, analizamos el espacio interior que ocupa una cancha de futbol, teniendo en cuenta la base y la altura de esta cancha, o la medida de sus lados: </p>       
                        <img src="./../../assets/Cancha de futbol.jpg" alt="main image" width="600" height="400" style="float: right; margin: 16px;">
                <p style="text-align: justify; color: rgb(8, 8, 8);">Para hallar el área de un polígo, en especial los cuadrilateros como los rectángulos y los cuadrados, debemos tener en 
                    cuenta las medidas de su base y se su altura, para luego encontrarla a partir del producto de ambas medidas. Ahora bien, En el caso de los triángulos, estos son la mitad 
                    de un cuadrado o rectángulo, dividiéndola desde sus diagonales como se muestra en la siguiente imagen:</p>
                    <img src="./../../assets/Triángulos.jpeg" alt="main image" width="600" height="400" style="float: right; margin: 16px;">
                        
                    <p style="text-align: justify; color: rgb(8, 8, 8);"> Como vemos en la imagen, al pasar un segmento de recta por las diagonales de un rectángulo, se forman dos triángulos. 
                        Para hallar el área de un triángulo, también tenemos en cuenta el producto de la base y la altura, pero dividida entre dos. 
                        <img src="./../../assets/áreas de figuras planas (cuadrados y triángulos).jpg" alt="main image" width="600" height="200" style="float: right; margin: 16px;">
                        Ahora bien, ¿Cómo hallamos el área de figuras de más de cuatro lados? Para ello, tenemos las siguientes alternativas:
                        
                        <ul style="text-align: justify;color: rgb(10, 10, 10)">
                            <li>Podemos dividir el polígono en triángulos, teniendo en cuenta la medida de la base y la altura de cada uno, y luego sumar todas las áreas de los triángulos, 
                                como se muestra en la siguiente imagen:<img src="./../../assets/poligonosreg2-4.png" alt="Áreas de figuras planas (polígonos)" width="600" height="300" style="float: left; margin: 16px;"> 
                                Es importante tener en cuenta que, en este caso, las alturas de in triángulo dentro de un polígono, se llaman apotemas. Un apotema, es el segmento perpendicular entre el 
                                centro de un polígono regular y uno cualquiera de sus lados.</li>                            
                            <li>Otra opción es hallar el perímetro del polígono <strong>(un perímetro es la suma de todos los lados de un polígono).</strong></li>
                            <li>Puerta y ventanas: Utiliza formas más pequeñas, como rectángulos y cuadrados, para representar la puerta y las ventanas de la casa.</li>
                        </ul> 
                    
                       <p style="text-align: justify; color: rgb(8, 8, 8);"> > Para hallar el área de un polígono, en especial los cuadriláteros como los rectángulos y los cuadrados, debemos tener en cuenta las medidas de su base y su altura, para luego encontrarla a partir del producto de ambas medidas. Ahora bien, en el caso de los triángulos, estos son la mitad 
                        de un cuadrado o rectángulo, dividiéndola desde sus diagonales como se muestra en la siguiente imagen:</p>
                        <img src="./../../assets/área.jpg" alt="main image" width="300" height="250" style="float: right; margin: 16px;">
                        <app-quiz-question></app-quiz-question> <!-- Include the QuizComponent here -->
                    
                    