
<div class="container d-flex justify-between items-center m-auto">
    <a href="post.html">
        <img src="imagenes/descarga.jpeg" alt="Logo" width="120">
    </a>
    <nav class="menu">
        
            <li><a href="#">Pensamiento numérico y sistemas numéricos</a></li>
            <li><a href="#"> Pensamiento espacial y métrico</a></li>
            <li><a href="#">Pensamiento variacional</a></li>
            <li><a href="#">Pensamiento algebraico</a></li>
    </nav>
</div>

<a href="/planeta" class="imagen-planeta">
    <img src="./../../assets/venus.jpeg" alt="">
</a>
                

<a href="/planeta" class="imagen-planeta">
    <img src="./../../assets/" alt="">
            
<img src="imagenes/Entre pinceles y páginas el mundo de camila.png" alt="secondary image" style="float: left; margin: 16px; width: 1180px; height: 300px;">
    
    <body>
    
        <div class="container">
            <h3>Hola a todos</h3>
            <p>

                Es un placer darles la bienvenida a nuestra plataforma diseñada especialmente para el Reto de Razonamiento Lógico. Si estás aquí, es porque te apasiona el aprendizaje y estás listo para embarcarte en un viaje emocionante hacia el desarrollo de tus habilidades cognitivas.
                
                En esta página, encontrarás todo lo que necesitas para desafiar y fortalecer tu capacidad de razonamiento, resolución de problemas y comunicación. Desde actividades interactivas hasta recursos educativos emocionantes, estamos aquí para ofrecerte una experiencia educativa que sea tanto informativa como divertida.</p>
            
            <ul class="d-flex column gap-3 lg-row">
                <li class="card">
                    <a href="#">
                           
                    </a>
                <aside>
                
                    
                    <h3>Ingresa a la competencia dando clic en la imagen</h3>
                    <ul class="d-flex"> 
                        <li class="card"> 
                            <a href="#">
                                <div class="container">
                            
                                        
                                            <h3>Ingresa a la competencia dando clic en la imagen</h3>
                                            <ul class="d-flex"> 
                                                <li class="card"> 
                                                    <a href="#">
                                                        <img src="imagenes/12ef4b408a941a1cc37171bd3c70bf3f.webp" alt="imsoportable levedad del ser"> 
                                                       
                                                    </a>
                                                </li>  
                                                <li class="card"> 
                                                    <a href="#">
                                                        <img src="imagenes/descarga (1).jpeg" alt="imsoportable levedad del ser"> 
                                                    
                                                    
                                                <section class="container d-flex gap-12 m-auto lg-column">
                                                    <section class="main-content">
                                                        <h1>Pensamiento numérico y sistemas numéricos </h1>
                                                        <p> Tema: Números racionales: fracciones, decimales y porcentajes
                                                             <p>Competencia: Interpreta y usa los números racionales (fracciones, decimales y
                                                                porcentajes) en diferentes contextos y situaciones de la vida diaria.<p>
                                            
                                                             El pensamiento numérico se refiere a la habilidad para comprender y manipular números de manera efectiva. Incluye la comprensión de conceptos numéricos básicos como la cantidad, el valor posicional, las operaciones aritméticas y la resolución de problemas matemáticos. El pensamiento numérico implica habilidades como contar, comparar, ordenar, estimar, calcular y analizar números en diferentes contextos.
                                                    
                                                             <h1>Pensamiento espacial y métrico</h1>

                                                             <p> Tema: Geometría plana: figuras geométricas y sus propiedades
                                                                 <p>Competencia:  Reconoce, describe y clasifica figuras geométricas planas
                                                                     (triángulos, cuadriláteros, círculos) y sus propiedades (ángulos, lados, simetría) en
                                                                     diferentes contextos.<p>
                                                                        
                                                                        