<div class="home">
    <img class="back" src="assets/home-img/fondo.png" alt="">
    <div class="container">
        <div class="titulo">
            <h1>
                Cosmo
                <span class="line">
                    Logico
                </span>
            </h1>
        </div>
        <div class="planeta1 planeta">
            <a href="/pensamiento1"><div class="img">
                <img src="assets/home-img/3.svg" alt="">
            </div></a>
            

        </div>
        <div class="planeta2 planeta">

            <a href="/pensamiento2"><div class="img">
                <img src="assets/home-img/4.svg" alt="">
            </div></a>
        </div>
        <div class="planeta3 planeta">
            <a href="/pensamiento3"> <div class="img">
                <img src="assets/home-img/5.svg" alt="">
            </div></a>
            
 
        </div>
        <div class="planeta4 planeta">
            <a href="/pensamiento4"><div class="img">
                <img src="assets/home-img/6.svg" alt="">
            </div></a>
 
        </div>
        <div class="planeta5 planeta">
            <a href="/pensamiento5"><div class="img">
                <img src="assets/home-img/7.svg" alt="">
            </div></a>

        </div>
        <div class="astronauta">
            <div class="img">
                <img src="assets/home-img/2.svg" alt="">
            </div>

        </div>
      </div>
</div>