<div class="home">
    <img class="back" src="assets/home-img/fondo.png" alt="">
    <div class="container">
        <div class="titulo">
            <h1>
                Cosmo
                <span class="line">
                Lógico
                </span>
            </h1>
        </div>
        
        <div class="planeta1 planeta" (click)="irAPensamiento(2)">
            <div class="img">
                <img src="assets/home-img/3.svg" alt="">
            </div>
        </div>

        <div class="planeta2 planeta" (click)="irAPensamiento(4)">
            <div class="img">
                <img src="assets/home-img/4.svg" alt="">
            </div>
        </div>

        <div class="planeta3 planeta" (click)="irAPensamiento(1)">
            <div class="img">
                <img src="assets/home-img/5.svg" alt="">
            </div>
        </div>

        <div class="planeta4 planeta" (click)="irAPensamiento(5)">
            <div class="img">
                <img src="assets/home-img/6.svg" alt="">
            </div>
        </div>

        
        <div class="planeta5 planeta" (click)="irAPensamiento(3)">
            <div class="img">
                <img src="assets/home-img/7.svg" alt="">
            </div>
        </div>

        <div class="astronauta">
            <div class="img">
                <img src="assets/home-img/2.svg" alt="">
            </div>
        </div>

    </div>
</div>